@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
  ;
  color: #000000;
}

.button {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;

}

.page-header {
  background: #FFFFFF;
  color: #000000;
}

.navigation-item {
  list-style-type: none;
}

.navigation-item-current {
  text-decoration: underline;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #FFFFFF;
  color: #000000;
}

.navigation-button {
  background: #756157;
  font-size: 16px;
  line-height: 20px;
}

.promo-image {
  background-image: url("/images/promo-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
}


.promo-image-bottom {
  background-image: url("/images/promo-image-triangles.svg");
  background-size: auto auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.promo {
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}

.promo-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #000000;
}

.promo-description {
  font-size: 22px;
  line-height: 26px;
  background-color: #FFFFFF;
  color: #333333;
}

.advantages-item {
  text-align: center;
  list-style-type: none;
  color: #000000;
}

.advantages-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item-with-photo {
  background-color: #82B3D3;
}

.white-text {
  color: #FFFFFF;
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.white {
  background-color: #FFFFFF;
}

.interested {
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}

.interested-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.interested-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.interested-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
}

.subscription-page {
  background-color: #333333;
  color: #FFFFFF;
  background-image: url("/images/subscription-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.sudscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.page-footer-bottom {
  background-color: #FFFFFF;
  color: #000000;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

