@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Общие для страницы */

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
  color: #000000;
}

.size-fix {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

/* Шапка */

.page-header {
  background: #FFFFFF;
  color: #000000;
}

.page-header-logo {
  display: box;
  width: 139px;
  min-height: 100%;
  margin: 0;
  margin-right: 30px;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 500px;
}

.navigation-list.navigation-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 310px;
  margin-left: auto;
}

.navigation-icons .navigation-link {
  min-width: 22px;
  min-height: 20px;

}

.navigation-item {
  list-style-type: none;
}


.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background: #FFFFFF;
  color: #000000;
}

.navigation-button {
  background: #756157;
  font-size: 16px;
  line-height: 20px;
}

/* Главная страница */

.main-container {
  margin: 0;
  flex-grow: 1;
}

.promo-image {
  background-image: url("../images/promo-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
}

.promo-text {
  display: block;
  margin: 0 auto;
}


.promo-image-bottom {
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: -1px;
  background-image: url("../images/promo-image-triangles.svg");
  background-size: auto auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.promo {
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
  margin: 0;
  padding: 63px 0 90px;
}

.promo-container {
  width: 680px;
  margin: 0 auto;
}

.promo-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 31px;
}

.promo-description {
  color: #333333;
  margin: 0;
}


.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: auto auto auto;
}

.advantages-block-image {
  min-height: 100%;
  background-size: auto auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  grid-column: span 2;
}

.advantages-block-image-true-towm {
  background-image: url("../images/advantages-1.jpg");
}

.advantages-block-image-devils-bridge {
  background-image: url("../images/advantages-2.jpg");
}

.advantages-item-container {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: auto auto;
}

.advantages-list-true-town {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  min-height: 384px;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  text-align: center;
  list-style-type: none;
}

.advantages-item-big {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-number {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-block {
  min-height: 384px;
  display: flex;
  padding: 0 85px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.advantages-block-with-photo {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-block-with-photo .advantages-title {
  color: #FFFFFF;
}

.advantages-block-with-photo .advantages-number {
  color: #FFFFFF;
}

.advantages-block-with-photo .advantages-description {
  color: #FFFFFF;
}

.advantages-block-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-block-white {
  background-color: #FFFFFF;
}

.advantages-block-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.interested {
  margin: 0;
  padding-top: 91px;
  padding-bottom: 93px;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}

.interested-container {
  margin: 0 auto;
  width: 592px;
}

.interested-title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.interested-description {
  margin-bottom: 56px;
  color: #333333;
}

.interested-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
}

.subscription {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.subscription-container{
  margin: 0 auto;
  width: 800px;
}

.subscription-page {
  background-color: #333333;
  color: #FFFFFF;
  background-image: url("../images/subscription-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.sudscription-title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  margin: 0 auto;
  margin-bottom: 46px;
  width: 480px;
}

.subscription-form {
  margin: 0 auto;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

/* Футер страницы */

.page-footer-bottom {
  background-color: #FFFFFF;
  color: #000000;
}

.page-footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social {
  max-width: 170px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 26px;
  min-height: 20px;
}

.footer-social-item {
  list-style-type: none;
  width: 48px;
  height: 40px;
}

.phone {
  width: 331px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}
.phone-link {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

/* Каталог */

.main-catalog {
  margin: 0;
  flex-grow: 1;
}

/* Фильтры каталога */

.catalog-header {
  padding: 35px 70px 70px;
  background-image: url("../images/filter-background.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #FFFFFF;
}

.catalog-header-container {
  width: 1060px;
  margin: 0 auto;
}

.catalog-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  width: 120px;
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  margin-right: 25px;
  margin-bottom: 40px;
}

.catalog-filter-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter-item:last-child {
  margin: 0;
}

.catalog-filter-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-catalog-apply {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter-reset {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

/* Карточки каталога */

.catalog-hotel {
  background-color: #FFFFFF;
  color: #000000;
}

.catalog-hotel-header {
  display: flex;
  width: 1057px;
  margin: 0 auto;
  margin-bottom: 56px;
  padding-top: 50px;
}

.catalog-hotel-descriprion {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-hotel-select {
  margin-left: auto;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-hotel-preview {
  width: 48px;
  height: 48px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 0 18px;
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 66px;
  padding: 0;
}

.hotel-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  list-style-type: none;
}

.hotel-img {
  display: block;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-title {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-item-bottom {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}

.hotel-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-price {
  align-self: end;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-hotel-description {
  background: #756157;
  font-size: 16px;
  line-height: 20px;
}

.button-favourites {
  background: #82B3D3;
  font-size: 16px;
  line-height: 20px;
}

.hotel-stars {
  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
}

.hotel-rating {
  background: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.hotel-list-footer-container {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  padding-top: 30px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  list-style-type: none;
}

.pagination-item:not(:last-child) {
margin-right: 8px;
}
.pagination-link {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.pagination-link.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-list-footer-selection {
  width: 386px;
  margin-left: auto;
  align-self: center;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.subscription.subscription-catalog {
  background-color: #FFFFFF;
  color: #333333;
}

.sudscription-title.sudscription-title-catalog {
  color: #000000;
}
